/* 2.2 Navigation */

.navwrap {
}

nav#access {
}

#navigation {
    margin: 0;
}

#navigation {
    padding:0; 
}

.nav { 
    margin: 0 0 0 0; 
    padding:0; 
    list-style:none; 
    overflow:hidden;
    border-bottom: 1px solid #ececec;
}

.nav a  { 
    position: relative; 
    color: #2C2C2C; 
    display: block; 
    padding: 28px 20px 28px; 
    text-decoration: none; 
    font-weight: 900;
    text-transform: uppercase;
}

.nav li a:hover { 
    color: #6ABD45; 
    text-decoration: none !important;
} 

.nav li.current_page_item a, .nav li.current_menu_item a { 
    color: #6ABD45; 
    text-decoration: none !important;
} 

.sub-menu.nav li.current_page_item a, .sub-menu.nav li.current_menu_item a { 
    color: #0B0B0B; 
    text-decoration: none !important;
} 

.nav li  { 
    float: left; 
    width: auto; 
}

/* Sub Menu Items */

.nav li ul {
    border-top: 6px solid #6abd45;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
	margin-left: -5px;
	position: absolute;
	z-index: 200;
	margin-top: -1px;
	z-index: 9999;
}

.nav li .icon-home {
    font-size: 16px;
}

.nav li ul li {
	border-bottom: 1px solid #333131;
	float: none;
	position: relative;
}

nav.main ul li ul li:last-child {
	border-bottom: none;
}

.nav li ul li a {
    /*color: #fff !important;*/
    color: #fff;
	font-size: 0.9em;
    text-transform: none !important;
}

.nav li ul li a {
	background: #2C2C2C;
	border-bottom: none;
	line-height: 2;
	padding: 8px 5px 8px 25px;
	text-align: left;
	width: 200px;
	text-transform: uppercase;
	letter-spacing: normal;
}

.nav li ul li a:hover, .nav li ul li.current_page_item a {
	color: #6abd45;
}

.nav li a {
	display: block;
	text-decoration: none;
}

.nav li ul li ul {
    border-top: none;
	left: 100%;
	margin-top: -1px;
	margin-left: 0px;
	top: 0;
}

.nav li.right ul li ul {
  	left: -175px;
}

.nav li ul li ul {
	z-index: -1;
}

/* Dropdown Hover */

.nav li ul, .nav li:hover ul li ul { display: none; }

.nav li:hover ul,
.nav li ul li:hover ul { display: block; }

.nav .sf-sub-indicator {
    display: block;
    width: 8px;
    height: 7px;
    text-indent: -999em;
    position: absolute;
    top: 21px;
    right: 8px;
}

.nav a:focus > .sf-sub-indicator, .nav a:hover > .sf-sub-indicator {
}

.nav li ul .sf-sub-indicator {top: 0.9em;}

.nav ul.sub-menu a > .sf-sub-indicator, .nav ul.children a > .sf-sub-indicator {
    display: block;
    background: url('../images/menubullet.png') bottom right;
    width: 8px;
    height: 11px;
    left: 85% !important;
    top: 13px;
}

/* 2.2.1 Sub Nav */

#sub_nav {
    margin: 0 0 20px 0;
}

.leftnavtitle {
    font-style: italic;
    margin: 0 0 10px 0;
}

#sidebar_content ul.sub-menu li.menu-item ul.sub-menu {
    display: none;
}

#sidebar_content ul.sub-menu li.current-menu-parent a {

}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu {
    display: block;

}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu ul.sub-menu {
    display: none;
}

#sidebar_content ul.sub-menu li.current-menu-item ul.sub-menu li.current-menu-item {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu ul.sub-menu{
    display: none;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu li.current-menu-item ul.sub-menu  {
    display: block;
}

#sidebar_content ul.sub-menu li.current-menu-ancestor ul.sub-menu li.current-menu-ancestor ul.sub-menu  {
    display: block;
}

.page #contents #menu-main-menu, .page #contents .sub-menu {
    list-style-type: none;
    margin: 0;
}

.page #contents .sub-menu li {
    background: url(../images/li_bul.png) no-repeat 0px 9px;
    padding: 1px 0  1px 12px;
    line-height: 1.8;
}

#rightMenu li li {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    border-style: none;
    background: white url(../img/icons/subarrow.gif) no-repeat 0px 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav .homeicon a {
    padding: 27px 15px 10px 15px;
    margin: 0;
}